{% extends 'base.html.twig' %}

{% block body %}
    <h3>New station</h3>
	{{ form_start(form) }}
	    {{ form_widget(form) }}
	    <div class="form-group">
		    <div class="">
		    	<button type="submit" class="btn btn-primary">Create</button>
		    	<a href="{{ path('system-index') }}" class="btn btn-link">Cancel</a>
		    </div>
		</div>
	{{ form_end(form) }}
{% endblock %}
