{% extends 'base.html.twig' %}

{% block body %}
    <h2>New posting</h2>
	{{ form_start(form) }}
	    {{ form_widget(form) }}
	    <div class="form-group">
		    <div class="">
		    	<button type="submit" class="btn btn-primary">Create</button>
		    	<a href="javascript:window.history.back();" class="btn btn-link">Cancel</a>
		    </div>
		</div>
	{{ form_end(form) }}
{% endblock %}
